# General

CONTRY_ISO_CODE=BEL
DATASET=mnist

# Directories

OUTPUT_DIR=output/
PY_DIR=architecture_py/
SML_DIR=architecture_sml/
LOG_DIR=architecture_log/
PNG_DIR=architecture_img/
CSV_DIR=architecture_csv/
TENSORBOARD_DIR=architecture_tb/
EMISSION_DIR=architecture_emissions/

# Generation Achitectures

FLAT_GLO=flatten,global_avg_pooling,global_max_pooling
POOLING=0.66
DROPOUT=0.20
CONVOLUTION=conv,convbn,bnconv
CONV_MERGE=conv,conv,merge
CONV_EMPTY=conv,Empty
NB_FEATURE_EXTRACTION=3,4,5
NB_DENSE=1,2,3
NB_OTHER_ZERO=0,1,2
NB_OTHER=1,2

# hyperparameters

MAX_SIZE_IMG=32
NB_CLASS=10
FONCTION_CLASSIFICATION=softmax
KERNEL_VALUES=1,2,3,4,5,6,7
STRIDE_VALUES=1,2,3,4
PADDING_VALUES=same,valid
FONCTION_ACTIVATION=relu,selu,tanh,gelu
INPUT_FILTER=3
INIT_NB_FILTER=16
DROPOUT_RATE=0.1,0.2,0.4,0.5,0.8,0.01
EPSILON=1.1e-10,1.001e-5,0.001,1.1e-5,1.1e-7
ADD_CONCAT=add,concat
COMPRESS_FACTOR=    0.6,0.7,0.8,0.9